html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #363636;
}

header {
  background: url(../img/lady.jpg);
  background-position: bottom center;
  height: 100vh;
  background-size: cover;
}

.fa-arrow-alt-circle-up {
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: #0078aa;
  font-size: 40px;
  transition: all .2s;
  border-radius: 50%;
  border: 1px solid #FFF
}

.fa-arrow-alt-circle-up:hover {
  color: #FFF;
  background-color: #0078aa;
  border: 1px solid #0078aa;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header_title {
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 8;
}

.header_links {
  margin-left: 400px;
}

.list_menu {
  display: flex;
}

.list_menu li {
  margin-left: 15px;
  text-transform: uppercase;
  color: #363636;

}

.list_menu a {
  color: #363636;
  font-weight: bold;
  font-size: 14px;
  transition: .3s;

}

.list_menu a:hover {
  color: #0078aa;
}

.header_main {
  padding-top: 200px;
  width: 35%;
  padding-left: 10%;
  color: #363636;
}

h1 {
  font-weight: bold;
  font-size: 35px;
  line-height: 38px;
  color: #363636;
}

.header_text {
  color: rgb(189, 183, 183);
  font-size: 14px;
  line-height: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.fa-stethoscope,
.fa-briefcase-medical,
.fa-heart {
  font-size: 30px;
  margin-right: 15px;
  background-color: #0078aa;
  border: 1px solid #0078aa;
  color: #FFF;
  padding: 7px;
  border-radius: 50%;
  transition: all .3s;
}

.fa-stethoscope:hover,
.fa-briefcase-medical:hover,
.fa-heart:hover {
  color: #0078aa;
  background-color: #FFF;
  border: 1px solid #0078aa;
}

.about {
  background-color: #FFF;

  background-repeat: no-repeat;
  background-position: left;
}

.about_wrapper {
  padding-top: 30px;
  padding-bottom: 100px;
  background-size: cover;
  display: flex;
  align-items: center;
}

.section_about {
  max-width: 400px;
  margin-left: 30px;

}

.about_laptop {
  margin-left: -100px;
  margin-top: 100px;
}



h2 {
  font-size: 25px;
  font-weight: bold;
}

.text_section {
  color: #0078aa;
  text-transform: uppercase;
  padding: 10px 0;
  font-weight: 500;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;


}

.about_describe {
  position: relative;
}

.fa-crutch {
  position: absolute;
  left: 0;
  top: 15px;
  color: #0078aa;
}

#services {
  background: url(../img/services_bg.jpg);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.text_services {
  text-transform: uppercase;
  margin: 15px auto;
  font-size: 13px;
}

.services_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.services_cards {
  width: 30%;
  min-height: 100px;
  text-align: left;
  background: #FFF;
  margin-bottom: 10px;
  padding: 15px;
}

h4 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;

}

.text_cards {
  font-size: 13px;
  line-height: 15px;
}

#prices {
  background: url(../img/pricing_bg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.prices_offers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_offer {
  width: 30%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 25px;
  padding-top: 40px;
}

h5 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.card_offer p {
  padding-top: 20px;
}

.blue_offer {
  background: #45cae6;
  color: #FFF;
  height: 28rem;
}

.white_offer {
  color: #0078aa;
  border: 1px solid #0078aa;
  height: 30rem;
  padding-top: 65px;
}

.price {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.italic {
  font-style: italic;
  margin-bottom: 15px;
}

.offer_btn {
  background: #FFF;
  color: #0078aa;
  border: 2px solid #0078aa;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  padding: 7px 10px;
  margin-top: 20px;

}


.appointment_wrapper {
  display: flex;
  justify-content: space-between;
}

.appointment_img {
  width: 50%;
}

.appointment_img img {
  width: 100%;
}

.contact_form {
  width: 45%;
  padding-top: 50px;
}

.contact_form_text {
  margin-top: 15px;
  margin-bottom: 20px;
}

.contact_form input {
  width: 80%;
  height: 25px;
  margin-bottom: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #aaa5a5;
}

.contact_form input::placeholder {
  font-style: italic;
}

.btn_appointment {
  background-color: #0078aa;
  color: #FFF;
  font-weight: bold;
  border: 1px solid #0078aa;
  padding: 10px 18px;
  font-size: 15px;
  border-radius: 10px;
  transition: all .2s;

}

.btn_appointment:hover {
  background-color: #FFF;
  color: #0078aa;
}

footer {
  background-color: #363636;
  color: #FFF;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: -3px;
}

@media screen and (min-width: 1280px) {
  .btn_appointment {
    margin-bottom: 50px;


  }



  .about_laptop {
    margin-right: 50px;
    margin-left: 20px;
  }

  .about_laptop img {
    width: 90%;
    margin-top: 50px;
  }

  .services_cards {
    margin-left: 0;
    margin-right: 0;
  }

  .container {
    width: 98%;
  }

  header {

    background-position: 200px 0px;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;



  }


  h1 {
    margin-left: 0;
    padding-left: 0;
    font-size: 40px;
  }

  .header_text {
    margin-left: 0;
    padding-left: 0;
  }

  .header_wrapper {
    padding: 0;
  }

  .about_wrapper {
    padding-bottom: 20px;
  }

  .header_title {
    width: 100%;
  }
}

@media screen and (max-width: 1279px) {

  header {

    background-position: 50px 0px;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;



  }

  .header_main {
    padding-top: 100px;
    width: 70%;
    padding-left: 2%;
    color: #363636;
  }


  .about_wrapper {
    padding-bottom: 20px;
  }

  .about_laptop img {
    width: 100%;
    margin-top: 50px
  }

  .services_cards {
    width: 28%;
  }

  .header_links:last-child {
    margin-right: 0px;
  }

  .header_links {
    margin-left: 200px;

  }

  .btn_appointment {
    margin-bottom: 30px;
  }
}



@media only screen and (max-width: 768px) {
  .header_title {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 8;
  }

  .header_links {
    margin-left: 0;
  }

  .header_logo {
    margin-bottom: 30px;
  }

  .header_main {
    text-align: center;
    padding-top: 200px;
    width: 100%;
    align-items: center;

    color: #363636;
  }

  h1 {
    margin-left: 30%;
    width: 40%;

  }

  .about_wrapper {
    display: flex;
    flex-direction: column;
  }

  .about_laptop img {
    margin-left: 150px;
    width: 70%;

  }

  .section_about {
    text-align: center;
  }

  h2 {
    font-size: 40px;
  }

  .services_cards {
    width: 100%;
    font-size: 30px;
    margin-left: 20px;
  }

  #services {
    width: 90%;


  }

  .prices_offers {
    display: flex;
    flex-direction: column;


  }

  .card_offer {
    width: 90%;
    font-size: 25px;
  }

  h5 {
    font-size: 40px;
  }

  .prices_wrapper p {
    font-size: 20px;
  }

  .prices_wrapper h2 {
    font-size: 40px;
  }

  .appointment_wrapper {
    flex-direction: column;
    text-align: center;
  }

  .appointment_wrapper h2 {
    text-align: center;
  }

  .appointment_img {
    width: 100%;
  }

  .contact_form {
    align-self: center;
    width: 100%;
  }

  .contact_form h2 {
    width: 40%;
    margin-left: 30%;
  }

  .contact_form_text {
    font-size: 20px;
  }


}